/*
   ---------------------------
   created with Free texture packer v0.6.7
   http://free-tex-packer.com
   ---------------------------
*/
.SubaBeret_1
{
    display:  inline-block;
    overflow: hidden;
    width:    335px;
    height: 300 pxbackground: url(accessories.png) no-repeat -0px -0px;
}

.Little_Ambulance_1
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -0px -300px;
}

.Little_Ambulance_2
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -302px -300px;
}

.Little_Cap_1
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -335px -0px;
}

.Little_Duck1
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -0px -600px;
}

.Little_Megaphone
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -302px -600px;
}

.Suba_Hairpin
{
    display:  inline-block;
    overflow: hidden;
    width:    400px;
    height: 181 pxbackground: url(accessories.png) no-repeat -604px -300px;
}

.tophat
{
    display:  inline-block;
    overflow: hidden;
    width:    287px;
    height: 198 pxbackground: url(accessories.png) no-repeat -637px -0px;
}

.stopwatch
{
    display:  inline-block;
    overflow: hidden;
    width:    259px;
    height: 211 pxbackground: url(accessories.png) no-repeat -604px -481px;
}

.policehat
{
    display:  inline-block;
    overflow: hidden;
    width:    320px;
    height: 169 pxbackground: url(accessories.png) no-repeat -604px -692px;
}

.marinehat
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -604px -861px;
}

.CocoHorn
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -812px -861px;
}

.Lunacrown
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -0px -900px;
}

.rushiaskull
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -208px -900px;
}

.rushiaribbon
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -863px -481px;
}

.Kanatashuriken
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1020px -681px;
}

.flareknot
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1020px -881px;
}

.flareribbon
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -924px -0px;
}

.pekomark
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1004px -200px;
}

.pekoears
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -416px -1061px;
}

.noelmace
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -0px -1100px;
}

.marinetattoo
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -208px -1100px;
}

.TowaHat
{
    display:  inline-block;
    overflow: hidden;
    width:    208px;
    height: 200 pxbackground: url(accessories.png) no-repeat -624px -1061px;
}

.MioHairband
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -832px -1081px;
}

.OkaChoker
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1031px -1081px;
}

.Okaears
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1132px -0px;
}

.Akinecktie
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1071px -400px;
}

.Fubukimark1
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1212px -200px;
}

.SubaHat
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1228px -600px;
}

.AquaRibbon
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1228px -800px;
}

.KoroChoker
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1230px -1000px;
}

.KoroHairband
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1230px -1200px;
}

.AquaTissue
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -416px -1261px;
}

.AyameMaskandHorn
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -615px -1261px;
}

.ChocoHorns
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -0px -1300px;
}

.ChocoTattoo
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -199px -1300px;
}

.Akiantenna
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -814px -1281px;
}

.FubuEars
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1013px -1281px;
}

.MatsuriRibbon
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1331px -0px;
}

.MelChoker
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1270px -400px;
}

.MelHairbat
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1411px -200px;
}

.MioEars
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1427px -600px;
}

.ShionHat
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1427px -800px;
}

.bow1
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 154 pxbackground: url(accessories.png) no-repeat -1429px -1000px;
}

.bow2
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 153 pxbackground: url(accessories.png) no-repeat -1429px -1154px;
}

.baseballhat
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 147 pxbackground: url(accessories.png) no-repeat -1429px -1307px;
}

.hat2
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 138 pxbackground: url(accessories.png) no-repeat -1212px -1400px;
}

.hat1
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 100 pxbackground: url(accessories.png) no-repeat -637px -198px;
}

.hat3
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 99 pxbackground: url(accessories.png) no-repeat -1412px -1454px;
}

.glassestint
{
    display:  inline-block;
    overflow: hidden;
    width:    204px;
    height: 87 pxbackground: url(accessories.png) no-repeat -398px -1461px;
}

.eyepatch
{
    display:  inline-block;
    overflow: hidden;
    width:    191px;
    height: 64 pxbackground: url(accessories.png) no-repeat -602px -1461px;
}

.glasses
{
    display:  inline-block;
    overflow: hidden;
    width:    105px;
    height: 86 pxbackground: url(accessories.png) no-repeat -837px -200px;
}
