/*
   ---------------------------
   created with Free texture packer v0.6.7
   http://free-tex-packer.com
   ---------------------------
*/
.Suba_Hairpin { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -0px;width:400px;height:181px }
.SubaBeret_1 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -400px -0px;width:335px;height:300px }
.policehat { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -181px;width:320px;height:169px }
.eyepatch { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -320px -181px;width:191px;height:64px }
.Little_Ambulance_1 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -350px;width:302px;height:300px }
.Little_Ambulance_2 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -735px -0px;width:302px;height:300px }
.Little_Cap_1 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1037px -0px;width:302px;height:300px }
.Little_Duck1 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1339px -0px;width:302px;height:300px }
.Little_Megaphone { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1641px -0px;width:302px;height:300px }
.glasses { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1943px -0px;width:105px;height:86px }
.hat1 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1943px -86px;width:200px;height:100px }
.hat3 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1943px -286px;width:200px;height:99px }
.glassestint { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1943px -486px;width:204px;height:87px }
.tophat { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -690px;width:287px;height:198px }
.stopwatch { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -977px;width:259px;height:211px }
.Akiantenna { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -198px -690px;width:199px;height:200px }
.Akinecktie { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -302px -372px;width:199px;height:200px }
.AquaRibbon { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -501px -300px;width:199px;height:200px }
.bow1 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -501px -500px;width:200px;height:154px }
.AquaTissue { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -700px -300px;width:199px;height:200px }
.AyameMaskandHorn { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -1236px;width:199px;height:200px }
.ChocoHorns { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -1436px;width:199px;height:200px }
.ChocoTattoo { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -1636px;width:199px;height:200px }
.FubuEars { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -0px -1836px;width:199px;height:200px }
.Fubukimark1 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -199px -1236px;width:199px;height:200px }
.KoroChoker { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -211px -890px;width:199px;height:200px }
.KoroHairband { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -398px -690px;width:199px;height:200px }
.MatsuriRibbon { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -597px -690px;width:199px;height:200px }
.hat2 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -211px -1090px;width:200px;height:138px }
.MelChoker { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -410px -890px;width:199px;height:200px }
.bow2 { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -701px -500px;width:200px;height:153px }
.MelHairbat { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -899px -300px;width:199px;height:200px }
.MioEars { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1098px -300px;width:199px;height:200px }
.MioHairband { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -199px -1436px;width:199px;height:200px }
.OkaChoker { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -199px -1636px;width:199px;height:200px }
.Okaears { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -199px -1836px;width:199px;height:200px }
.ShionHat { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1297px -300px;width:199px;height:200px }
.SubaHat { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1497px -300px;width:199px;height:200px }
.baseballhat { display:inline-block;overflow:hidden;background:url(accessories) no-repeat -1697px -300px;width:200px;height:147px }
