/*
   ---------------------------
   created with Free texture packer v0.6.7
   http://free-tex-packer.com
   ---------------------------
*/
.SubaBeret_1
{
    display:  inline-block;
    overflow: hidden;
    width:    335px;
    height: 300 pxbackground: url(accessories.png) no-repeat -0px -0px;
}

.Little_Ambulance_1
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -0px -300px;
}

.Little_Ambulance_2
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -302px -300px;
}

.Little_Cap_1
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -335px -0px;
}

.Little_Duck1
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -0px -600px;
}

.Little_Megaphone
{
    display:  inline-block;
    overflow: hidden;
    width:    302px;
    height: 300 pxbackground: url(accessories.png) no-repeat -302px -600px;
}

.Suba_Hairpin
{
    display:  inline-block;
    overflow: hidden;
    width:    400px;
    height: 181 pxbackground: url(accessories.png) no-repeat -604px -300px;
}

.tophat
{
    display:  inline-block;
    overflow: hidden;
    width:    287px;
    height: 198 pxbackground: url(accessories.png) no-repeat -637px -0px;
}

.stopwatch
{
    display:  inline-block;
    overflow: hidden;
    width:    259px;
    height: 211 pxbackground: url(accessories.png) no-repeat -604px -481px;
}

.policehat
{
    display:  inline-block;
    overflow: hidden;
    width:    320px;
    height: 169 pxbackground: url(accessories.png) no-repeat -604px -692px;
}

.KoroHairband
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -604px -861px;
}

.Akiantenna
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -803px -861px;
}

.AquaRibbon
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -0px -900px;
}

.AquaTissue
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -199px -900px;
}

.AyameMaskandHorn
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -398px -900px;
}

.ChocoHorns
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -863px -481px;
}

.MatsuriRibbon
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -924px -0px;
}

.MelChoker
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1004px -200px;
}

.MelHairbat
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1002px -681px;
}

.Akinecktie
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1002px -881px;
}

.MioHairband
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -597px -1061px;
}

.OkaChoker
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -796px -1061px;
}

.Okaears
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -995px -1081px;
}

.ShionHat
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -0px -1100px;
}

.ChocoTattoo
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -199px -1100px;
}

.SubaHat
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -398px -1100px;
}

.FubuEars
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1194px -1081px;
}

.Fubukimark1
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1123px -0px;
}

.KoroChoker
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1062px -400px;
}

.MioEars
{
    display:  inline-block;
    overflow: hidden;
    width:    199px;
    height: 200 pxbackground: url(accessories.png) no-repeat -1203px -200px;
}

.bow1
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 154 pxbackground: url(accessories.png) no-repeat -1201px -600px;
}

.bow2
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 153 pxbackground: url(accessories.png) no-repeat -1201px -754px;
}

.baseballhat
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 147 pxbackground: url(accessories.png) no-repeat -1201px -907px;
}

.hat2
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 138 pxbackground: url(accessories.png) no-repeat -597px -1261px;
}

.hat1
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 100 pxbackground: url(accessories.png) no-repeat -637px -198px;
}

.hat3
{
    display:  inline-block;
    overflow: hidden;
    width:    200px;
    height: 99 pxbackground: url(accessories.png) no-repeat -0px -1300px;
}

.glassestint
{
    display:  inline-block;
    overflow: hidden;
    width:    204px;
    height: 87 pxbackground: url(accessories.png) no-repeat -200px -1300px;
}

.eyepatch
{
    display:  inline-block;
    overflow: hidden;
    width:    191px;
    height: 64 pxbackground: url(accessories.png) no-repeat -404px -1300px;
}

.glasses
{
    display:  inline-block;
    overflow: hidden;
    width:    105px;
    height: 86 pxbackground: url(accessories.png) no-repeat -837px -200px;
}
