#canvas-container
{
    position:         relative;
    display:          inline-block;;
    box-sizing:       content-box;
    width:            200px;
    height:           200px;
    margin:           10px auto;
    border:           5px solid black;
    background-color: white;
    box-shadow:       0 0 5px 1px black;
}

#canvas-container.over
{
    border: 5px dashed cyan;
}

#images img.img_dragging
{
    opacity: 0.4;
}

select
{
    max-width: 100%;
}

#upload
{
    overflow: hidden;
}

/*
Styles below based on  http://www.html5rocks.com/en/tutorials/dnd/basics/
*/

/* Prevent the text contents of draggable elements from being selectable. */
[draggable]
{
    cursor:              move;
    -khtml-user-select:  none;
    -moz-user-select:    none;
    -webkit-user-select: none;
    /* Required to make elements draggable in old WebKit */
    user-select:         none;
    -khtml-user-drag:    element;
    -webkit-user-drag:   element;
}

.editor-container
{
    display:        flex;
    align-content:  space-between;
    flex-direction: column;
    flex-wrap:      wrap;
    width:          100%;
    height:         100vh;
}

#imagesToolbar
{
    overflow:                   hidden;
    width:                      200px;
    height:                     100%;
    border-top-right-radius:    20px;
    border-bottom-right-radius: 20px;
    background-color:           #FFC107;
}

#images
{
    overflow: auto;
    width:    100%;
    height:   100%;
    padding:  20px;

}

#images img
{
    max-width: 100%;

}

/*body {*/
/*    margin: 0;*/
/*    background: radial-gradient(circle, rgba(3, 188, 252, 1) 38%, rgba(4, 128, 171, 1) 100%)*/
/*}*/

::-webkit-scrollbar
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track
{
    background: #F1F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
    background: #555;
}

#result
{
    width: 500px;
}


#center-interface
{
    flex:       1 0 100%;
    width:      500px;
    text-align: center;
}

#right-tools
{
    display:                   inline-block;
    width:                     200px;
    height:                    100%;
    margin-left:               10px;
    padding:                   20px;
    border-top-left-radius:    20px;
    border-bottom-left-radius: 20px;
    background-color:          olive;
    background-color:          #FFC107;
}

#source, #copy
{
    position: fixed;
    left:     -1000px;
}

#resultCanvas
{
    box-sizing:       content-box;
    width:            400px;
    margin:           auto;
    margin-bottom:    5px;
    border:           3px solid black;
    background-color: white;
}

#generateDuck
{
    font-size:     20px;
    margin-top:    40px;
    padding:       10px;
    color:         white;
    border-radius: 10px;
    background:    gray;
}

.btn.btn-info
{
    font-weight:      bold;
    width:            100%;
    margin:           10px auto;
    padding:          10px;
    color:            white;
    border:           2px solid white;
    border-radius:    10px;
    background-color: rgb(3, 188, 252);
}

#downloadLink
{
    font-size:        20px;
    display:          none;
    margin-top:       40px;
    padding:          10px;
    color:            white;
    border-radius:    10px;
    background-color: green;
}

#menuMobile
{
    display: none;
}

/*
#radiosUpload{
	    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#radiosUpload > div{
	display:flex;
}

#radiosUpload > div > input{
	   width: auto;
    margin: 0;
    position: relative;
    top: 0.7rem;
    margin-right: 1rem;
}*/

#cropped
{
    display: none;
}

#prevButtons
{
    display: none;
}

#prevButtons div
{
    font-size:        20px;
    padding:          20px;
    cursor:           pointer;
    color:            white;
    background-color: #518DB9;
}

#prevButtons div:focus
{
    background-color: yellow;
}


@media (max-width: 900px)
{

    #previewSection .justify-content-end canvas
    {
        display:       none;
        margin:        auto;
        margin-bottom: 20px;
        text-align:    center;

    }

    #previewSection .justify-content-end
    {
        text-align: center;
    }

    #previewSection .justify-content-end canvas:nth-child(1)
    {
        display: block;
    }


    #imagesToolbar
    {
        position:           fixed;
        z-index:            1000;
        right:              0;
        bottom:             0;
        left:               0;
        width:              100%;
        height:             15vh;
        -webkit-box-shadow: -5px 0px 8px 2px rgba(0, 0, 0, 0.58);
        box-shadow:         -5px 0px 8px 2px rgba(0, 0, 0, 0.58);
    }

    #imagesToolbar img
    {
        width:      auto;
        max-width:  20vh;
        height:     100%;
        object-fit: contain;
    }

    #imagesToolbar h3
    {
        display: none;
    }

    #imagesToolbar #images
    {
        display: flex;
    }

    #imagesToolbar.active
    {
        left: 0;
    }

    #right-tools
    {
        position:           initial !important;
        z-index:            initial;
        top:                0;
        right:              -100vw;
        width:              90% !important;
        margin:             auto;
        transition:         .5s;
        -webkit-box-shadow: 0 -5px 8px 2px rgba(0, 0, 0, .58);
        box-shadow:         0 -5px 8px 2px rgba(0, 0, 0, .58);
    }

    #drawingStuff + div
    {
        display:         flex;
        justify-content: space-between;
        width:           100%;
        text-align:      center;
    }

    #right-tools.active
    {
        right: 0;
    }

    #radiosUpload
    {
        justify-content: initial;
    }

    #center-interface, #result
    {
        width:      100%;
        margin:     auto;
        text-align: center !important;
    }

    #canvas-container
    {
        position:         initial;
        display:          inline-block;
        box-sizing:       content-box;
        width:            200px;
        height:           200px;
        margin:           10px auto;
        margin:           auto;
        text-align:       center;
        text-align:       center;
        border:           5px solid #000;
        background-color: #FFF;
        box-shadow:       0 0 5px 1px #000;
    }

    #menuMobile
    {
        position: fixed;
        z-index:  900;
        top:      20px;
        right:    20px;
        display:  block;
        width:    30px;
        height:   30px;
        cursor:   pointer;
    }

    #prevButtons
    {
        display: block;
    }


    body
    {
        padding-bottom: 26vh;
    }

    #drawing-mode-options
    {
        position:         fixed;
        z-index:          1000;
        bottom:           0;
        left:             0;
        display:          flex;
        flex-wrap:        wrap;
        width:            100%;
        padding:          10px;
        background-color: yellow;
    }

    #drawing-color ~ *
    {
        display: none !important;
    }

    #drawing-mode-options label, #drawing-mode-options input, #drawing-mode-options textarea
    {
        font-family: 'Noto Sans JP', sans-serif;
        font-size:   12pt;
        line-height: 24pt;
        display:     inline-block;
        flex:        1 1 50px;
        width:       20%;
    }

    #drawing-mode-selector
    {
        flex:          1 1 80%;
        margin-bottom: 20px;
    }

    #drawing-color
    {
        flex:       0 1 40px !important;
        width:      20px;
        margin-top: 5px;
    }

    #drawing-line-width
    {
        flex:         0 1 80px;
        margin-right: 20px;
    }

}
