body {
    background: url("../images/bg1-gr-white.png");

    font-size: 12pt;
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /* pink superchat bg #fedce3*/
    /* old blue opening bg  #aff5e0*/
}
.screen-container{
    display: grid;
    align-items: center;
    justify-items: center;
}
.screen {

    /*transition: all .25s;*/
    /*text-align: center;*/
    /*height: 40px;*/
    /*position: relative;*/
    vertical-align: middle;
    border-radius: 5px;
    margin: 8px 0 0 8px;
    border: 2px solid #518db9 ;
    max-width: 600px;
    background: white;
    display: block;

    box-shadow: #518db9 1px 1px 0,
    #518db9 2px 2px 0,
    #518db9 3px 3px 0,
    #518db9 4px 4px 0,
    #518db9 5px 5px 0,
    #518db9 6px 6px 0,
    #518db9 7px 7px 0,
    #518db9 8px 8px 0;
}
