body {
    background: url("bg1-gr-white.png");

    font-size: 12pt;
    font-family: 'Noto Sans JP', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /* pink superchat bg #fedce3*/
    /* old blue opening bg  #aff5e0*/
}

.screen-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.screen {

    /*transition: all .25s;*/
    /*text-align: center;*/
    /*height: 40px;*/
    /*position: relative;*/
    display:        block;
    max-width:      80%;
    margin:         8px 0 32px 8px;
    vertical-align: middle;
    border:         2px solid #518DB9;
    border-radius:  5px;
    background:     white;

    box-shadow:     #518DB9 1px 1px 0,
                    #518DB9 2px 2px 0,
                    #518DB9 3px 3px 0,
                    #518DB9 4px 4px 0,
                    #518DB9 5px 5px 0,
                    #518DB9 6px 6px 0,
                    #518DB9 7px 7px 0,
                    #518DB9 8px 8px 0;
}

.screen-inner {
    padding: 1.15rem ;
    margin: 8px 8px 8px 8px;
    line-height: 1.5rem;
}

.screen-inner > div,li {
    padding: 1.15rem 0 0 0;
}
