
.SubaBeret_1 {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -0px -0px;
    width: 335px;
    height: 300px
}

.policehat {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -335px -0px;
    width: 320px;
    height: 169px
}

.Little_Ambulance_1 {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -655px -0px;
    width: 302px;
    height: 300px
}

.Little_Ambulance_2 {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -335px -169px;
    width: 302px;
    height: 300px
}

.Little_Cap_1 {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -0px -300px;
    width: 302px;
    height: 300px
}

.Little_Duck1 {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -957px -0px;
    width: 302px;
    height: 300px
}

.Little_Megaphone {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -1259px -0px;
    width: 302px;
    height: 300px
}

.tophat {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -1561px -0px;
    width: 287px;
    height: 198px
}

.eyepatch {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -1848px -0px;
    width: 191px;
    height: 64px
}

.glasses {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -1848px -64px;
    width: 105px;
    height: 86px
}

.stopwatch {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -1561px -198px;
    width: 259px;
    height: 211px
}

.glassestint {
    display: inline-block;
    overflow: hidden;
    background: url(texture.png) no-repeat -1820px -198px;
    width: 204px;
    height: 87px
}
