

.main, #previewSection, .soundButton {
    vertical-align: middle;
    border-radius: 5px;
    margin: 8px 0 0 8px;
    border: 2px solid #518db9 ;
    background: white;
    display: block;
    box-shadow: #518db9 1px 1px 0,
    #518db9 2px 2px 0,
    #518db9 3px 3px 0,
    #518db9 4px 4px 0,
    #518db9 5px 5px 0,
    #518db9 6px 6px 0,
    #518db9 7px 7px 0,
    #518db9 8px 8px 0;
}
#soundButtons{
    align-items: self-start;
    justify-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.soundButton{
    font-size: small;
    color: #518db9;
    min-width: 150px;
    max-width: 150px;
    max-height: 50px;
}

.soundButton:hover{
    margin: 16px 0 0 16px;
    box-shadow: #000 0 0 0,
    #000 0 0 0,
    #000 0 0 0,
    #000 0 0 0,
    #000 0 0 0,
    #000 0 0 0,
    #000 0 0 0,
    #000 0 0 0;
    min-width: 150px;
    max-width: 150px;
    max-height: 50px;

}
/*.contact-us {*/
/*    background: #f8f4e5;*/
/*    padding: 50px 100px;*/
/*    border-top: 10px solid #f45702;*/
/*}*/


#upload-container label, input, textarea {
    display: block;
    width: 100%;

    line-height: 24pt;
    font-size: 12pt;
    font-family: 'Noto Sans JP', sans-serif;
}

#upload-container input {
    margin-bottom: 24pt;
}

#upload-container h3 {
    font-weight: normal;
    font-size: 10pt;
    line-height: 24pt;
    font-style: italic;
    margin: 0 0 0.5em 0;
}

#upload-container span {
    font-size: 8pt;
}

#upload-container em {
    color: #f45702;
    font-weight: bold;
}


input:focus, textarea:focus {
    border: 1px solid #6bd4b1;
}

textarea {
    resize: none;
}


button:hover {
    background: inherit;
    color: #f45702;
    border-bottom: 2px solid #f45702;
}

::selection {
    background: #ffc7b8;
}


input[type=submit] {
    transition: 0.5s;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6bd4b1;
    color: white;
}

#animPreview {
    background: cornflowerblue;
    /*display: block;*/
    /*margin:0 auto 0 auto;*/
    width: 150px;
    height: 150px;
}
