# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace
package-lock.json
#PYTHON
*venv/*

# Firebase Hosting
.firebaserc
firebase-debug.log
.firebase/

# Vendors
node_modules/

# Build
dist/
/npm-debug.log

#API keys
client_secrets.json
credentials.json

#
**/all_submissions_raw/*.png
**/all_submissions_split/*.png
