body,button {
    font: 12pt 'Noto Sans JP', sans-serif;

    font-weight:bold;
    margin: 0;
    opacity: 0;
    padding: 0;
}


.screen {
    display: none;
}

.screen img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

#about-project, #about-subaru {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background: url(../images/bg1-white.png) no-repeat center center fixed;
    background-size: cover;
    display: none;
    padding-top: 6%;
}

canvas {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
}

#home {
    position: relative;
    overflow: hidden;
    display: block;
    align-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    visibility: hidden;
}

.logo-bg {
    width: 100%;
    height: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

}

.logo-sky, .logo-mid {
    background-image: url(../images/intro/sky.png);
    visibility: hidden;
    z-index: 0;
    position: absolute;
    height: 1080px;
}

.logo-mid {
    background-image: url(../images/intro/mid.png);
    max-width: 100vw;
    height: 656px;
    bottom: 0;

    /*position: absolute;*/
    /*!*height:100vh;*!*/
    /*!*width:100vh;*!*/
    /*!*max-width:2301px;*!*/
    /*!*max-height: 656px;*!*/
    /*z-index: 1;*/
    /*!*-moz-background-size: contain;*!*/
    /*!*-o-background-size: contain;*!*/
    /*!*-webkit-background-size: contain;*!*/
    /*!*background-size: contain;*!*/
    /*!*background-repeat: no-repeat;*!*/

}

.logo-front {
    background-image: url(../images/intro/front.png);
    position: absolute;
    top: 1px;
    z-index: 2;
    height: 1080px;

}


.logo-duck {
    background-image: url(../images/intro/appear.png);
    position: absolute;
    left: 75%;
    bottom: 9%;
    width: 266.5px;
    height: 278px;
    /*background-position: 0;*/
    background-repeat: no-repeat;
    z-index: 10;


}

.logo-panel {
    background-image: url(../images/intro/HHeader.svg);
    height: 100%;
    width: 20%;
    max-width: 20%;

    background-size: auto;
    background-repeat: no-repeat;

    z-index: 9;
    position: absolute;
    visibility: hidden;
}

.nav-button-container {
    top: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    visibility: hidden;
}

.nav-button {
    transition: all .25s;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    margin: 8px 0 0 8px;
    border: 2px solid #03a4db;
    width: 200px;
    height: 40px;
    background: white;
    display: block;
    position: relative;

    box-shadow: #03a4db 1px 1px 0,
    #03a4db 2px 2px 0,
    #03a4db 3px 3px 0,
    #03a4db 4px 4px 0,
    #03a4db 5px 5px 0,
    #03a4db 6px 6px 0,
    #03a4db 7px 7px 0,
    #03a4db 8px 8px 0;
}

.nav-button:hover {
    margin: 16px 0 0 16px;
    box-shadow: #03a4db 0px 0px 0,
    #03a4db 0px 0px 0,
    #03a4db 0px 0px 0,
    #03a4db 0px 0px 0,
    #03a4db 0px 0px 0,
    #03a4db 0px 0px 0,
    #03a4db 0px 0px 0,
    #03a4db 0px 0px 0;
}


.logo-title {

    background-image: url(../images/intro/LogoAdjustedSize.png);
    height: 100%;
    width: 100%;
    left: 41%;
    top: 30%;
    max-width: 671px;
    max-height: 231px;
    opacity: 0;
    position: absolute;
    z-index: 8;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

#enterPondButton {
    background-color: #03a4db;
    border-radius: 5px;
    color: #ffffef;
    left: 50%;
    bottom: 50%;
    font-size: 2.5rem;
    margin: auto;
    opacity: 0;
    text-align: center;
    width: 20%;
    position: absolute;
    z-index: 9;
    text-decoration: none;

}

#navbarLogo {
    background-image: url(../images/intro/LogoAdjustedSize.png);
    background-size: cover;
}

#navbarLogo {
    height: 6vh;
    width: 10vw;
}


#pond-ui {
    -moz-border-image: url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;
    -o-border-image: url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;
    -webkit-border-image: url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;
    background-color: transparent;
    background-size: 100% 100%;
    border: 30px solid transparent;
    border-image: url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;
    display: none;
    height: 200px;
    left: 0;
    margin: 1em;
    max-width: 100%;
    position: fixed;
    top: 56px;
    width: 220px;
    z-index: 2;
}

#pond-ui .inner-ui {
    background-color: #ffffef;
    height: 102%;
    left: -1px;
    position: relative;
    top: -1px;
    width: 102%;

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#loadingDuck {
    left: 0;
    margin: auto;
    max-height: 50vh;
    position: fixed;
    right: 0;
    top: 0;
}

.load-pond {
    display: none;
}

#about-subaru .about-content, .load-pond.visible {
    display: inline-block;
}

.load-pond.selectedPond {
    background-color: red;
}

img {
    max-width: 90%;
}

.screen img, h1 {
    text-align: center;
}

#about-project .project-text {
    margin: auto;
    max-width: 600px;
}


#screens {
    align-content: center;
    align-items: center;
    display: block;
    height: 100%;
}

.selectLang {
    max-height: 200px;
    max-width: 200px;
}

.none {
    background-image: url(../images/intro/idle.png);
}
