*
{
    font-family: meyro;
}

body
{
    font:             12pt "Noto Sans JP", sans-serif;

    font-weight:      400;
    margin:           0;
    padding:          0;
    opacity:          0;
    color:            rgb(205, 201, 195);
    background-color: #97CAFD;
    background-image: initial;
}

body
{
    position:                    relative;
    color:                       #2B2929;

    -webkit-text-size-adjust:    100%;
    -webkit-tap-highlight-color: transparent;
}

button
{
    font-family: kei;
    font-size:   1.5rem;
}

.screen
{
    display: none;
}

.screen img
{
    display:        block;
    margin:         auto;
    padding-bottom: 20px;
}

canvas
{
    display:    block;
    width:      100%;
    max-width:  100%;
    height:     100%;
    object-fit: contain;
}

#home
{
    position:      relative;
    display:       block;
    overflow:      hidden;
    align-content: center;
    align-items:   center;
    height:        100%;
}


.logo
{
    visibility: hidden;
}

.logo-bg
{
    width:                   100%;
    height:                  100%;
    background-repeat:       no-repeat;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    -webkit-background-size: cover;
    background-size:         cover;

}

.logo-sky, .logo-mid
{
    position:         absolute;
    z-index:          0;
    visibility:       hidden;
    background-image: url(../images/intro/sky.png);
    /*height: 1080px;*/
    /*max-height: 100%;*/
}

.logo-mid
{
    bottom:              0;
    max-width:           100vw;
    /*max-height: 656px;*/
    max-height:          70%;
    background-image:    url(../images/intro/mid.png);
    background-position: center;
    /*position: absolute;*/
    /*!*height:100vh;*!*/
    /*!*width:100vh;*!*/
    /*!*max-width:2301px;*!*/
    /*!*max-height: 656px;*!*/
    /*z-index: 1;*/
    /*!*-moz-background-size: contain;*!*/
    /*!*-o-background-size: contain;*!*/
    /*!*-webkit-background-size: contain;*!*/
    /*!*background-size: contain;*!*/
    /*!*background-repeat: no-repeat;*!*/

}

.logo-front
{
    position:         absolute;
    z-index:          2;
    top:              1px;
    max-height:       100%;
    background-image: url(../images/intro/front.png);
}


/*.logo-front*/
/*{*/
/*    position: absolute;*/
/*    z-index:  2;*/
/*    bottom:   0;*/
/*    left:     0;*/
/*    width:    100%;*/
/*    height:   100%;*/
/*}*/

/*.logo-front-L*/
/*{*/
/*    position:   absolute;*/
/*    z-index:    2;*/
/*    left:       1px;*/
/*    width:      597.86px;*/
/*    height:     1080px;*/
/*    max-height: 100%;*/
/*}*/

/*.logo-front-R*/
/*{*/
/*    position:   absolute;*/
/*    z-index:    2;*/
/*    right:      0px;*/
/*    overflow:   hidden;*/
/*    width:      308px;*/
/*    height:     1080px;*/
/*    !*width:      307.66px;*!*/
/*    max-height: 100%;*/

/*}*/

/*#grass-L*/
/*{*/
/*    position:          absolute;*/
/*    z-index:           10;*/
/*    bottom:            0;*/
/*    left:              0;*/
/*    width:             100%;*/
/*    height:            100%;*/
/*    background-image:  url(../images/intro/grassL-tiny.png);*/
/*    background-repeat: no-repeat;*/

/*}*/

/*#grass-R*/
/*{*/
/*    position:          absolute;*/
/*    z-index:           10;*/
/*    bottom:            0;*/
/*    left:              0;*/
/*    width:             100%;*/
/*    height:            100%;*/

/*    background-image:  url(../images/intro/grassR-tiny.png);*/
/*    background-repeat: no-repeat;*/

/*}*/


.logo-duck
{
    position:          absolute;
    z-index:           10;
    z-index:           1;
    bottom:            9%;
    left:              78%;
    zoom:              0.7;
    /*background-position: 0;*/
    width:             266.5px;
    height:            278px;
    background-repeat: no-repeat;


}

#duck-appear
{
    position:          absolute;
    z-index:           10;
    bottom:            0;
    left:              0;
    width:             100%;
    height:            100%;
    background-image:  url(../images/intro/appear.png);
    background-repeat: no-repeat;


}

#duck-idle
{
    position:          absolute;
    z-index:           10;
    bottom:            0;
    left:              0;
    width:             100%;
    height:            100%;
    background-image:  url(../images/intro/idle.png);
    background-repeat: no-repeat;


}

.logo-panel
{
    position:            absolute;
    z-index:             9;
    visibility:          hidden;
    width:               20%;

    max-width:           20%;
    height:              100%;

    background-color:    #5DCDE3;
    background-image:    url(../images/intro/HHeader.jpg);
    background-repeat:   no-repeat;
    background-position: center bottom;
    background-size:     100% 86%;
    -moz-box-shadow:     5px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:  5px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow:          5px 0px 10px -3px rgba(0, 0, 0, 0.75);
}

/*.nav-button-container {*/
/*    top: 10%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*    visibility: hidden;*/
/*}*/

.interior, .nav-button
{
    position:       relative;
    display:        block;
    /*width:          350px;*/
    width:          90%;
    height:         40px;
    margin:         8px 0 0 8px;
    transition:     all .25s;
    text-align:     center;
    vertical-align: middle;
    border:         2px solid #03A4DB;
    border-radius:  5px;
    background:     white;
    box-shadow:     #03A4DB 1px 1px 0,
                    #03A4DB 2px 2px 0,
                    #03A4DB 3px 3px 0,
                    #03A4DB 4px 4px 0,
                    #03A4DB 5px 5px 0,
                    #03A4DB 6px 6px 0,
                    #03A4DB 7px 7px 0,
                    #03A4DB 8px 8px 0;
}

.interior:nth-child(2)
{
    border-color: #518DB9;
    box-shadow:   #518DB9 1px 1px 0,
                  #518DB9 2px 2px 0,
                  #518DB9 3px 3px 0,
                  #518DB9 4px 4px 0,
                  #518DB9 5px 5px 0,
                  #518DB9 6px 6px 0,
                  #518DB9 7px 7px 0,
                  #518DB9 8px 8px 0;
}

.interior:nth-child(1)
{
    border-color: #037283;
    box-shadow:   #037283 1px 1px 0,
                  #037283 2px 2px 0,
                  #037283 3px 3px 0,
                  #037283 4px 4px 0,
                  #037283 5px 5px 0,
                  #037283 6px 6px 0,
                  #037283 7px 7px 0,
                  #037283 8px 8px 0;
}

.interior:nth-child(4)
{
    border-color: #FD705E;
    box-shadow:   #FD705E 1px 1px 0,
                  #FD705E 2px 2px 0,
                  #FD705E 3px 3px 0,
                  #FD705E 4px 4px 0,
                  #FD705E 5px 5px 0,
                  #FD705E 6px 6px 0,
                  #FD705E 7px 7px 0,
                  #FD705E 8px 8px 0;
}

.interior:nth-child(3)
{
    border-color: #3E6A8F;
    box-shadow:   #3E6A8F 1px 1px 0,
                  #3E6A8F 2px 2px 0,
                  #3E6A8F 3px 3px 0,
                  #3E6A8F 4px 4px 0,
                  #3E6A8F 5px 5px 0,
                  #3E6A8F 6px 6px 0,
                  #3E6A8F 7px 7px 0,
                  #3E6A8F 8px 8px 0;
}

.nav-button:hover
{
    margin:     16px 0 0 16px;
    box-shadow: #03A4DB 0px 0px 0,
                #03A4DB 0px 0px 0,
                #03A4DB 0px 0px 0,
                #03A4DB 0px 0px 0,
                #03A4DB 0px 0px 0,
                #03A4DB 0px 0px 0,
                #03A4DB 0px 0px 0,
                #03A4DB 0px 0px 0;
}

.logo-title-container
{
    position:    absolute;
    left:        25vw;
    width:       50vw;
    height:      100%;
    margin-left: 20vh;
    text-align:  center;
    color:       #000;
    /*display:flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}


.logo-text
{
    font-family:    "corsva";
    font-size:      1.6rem;
    position:       absolute;
    top:            55%;
    width:          100%;
    height:         100%;
    text-transform: capitalize;
    color:          #0D191E;

}

.logo-title, #ponds-logo-home
{

    position:                absolute;
    z-index:                 8;
    top:                     18%;
    width:                   100%;
    /*left: 41%;*/
    /*top: 30%;*/
    /*max-width: 671px;*/
    /*max-height: 231px;*/
    height:                  100%;
    opacity:                 0;
    background-image:        url(../images/intro/LogoAdjustedSize.png);
    background-repeat:       no-repeat;
    -moz-background-size:    contain;
    -o-background-size:      contain;
    -webkit-background-size: contain;
    background-size:         contain;
}

#ponds-logo-home
{
    position: fixed;
    top:      8px;
    left:     8px;
    width:    10vh;
    height:   4vh;
    opacity:  .7;
}

#ponds-logo-home:hover
{
    opacity:            1;
    -moz-box-shadow:    5px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow:         5px 0px 10px -3px rgba(0, 0, 0, 0.75);
}

#enterPondButton
{
    font-size:        2rem;
    font-weight:      bold;
    position:         relative;
    z-index:          9;
    width:            auto;
    max-width:        initial;
    margin:           auto;
    padding:          10px 15px;
    /* width: 20%; */
    text-align:       center;
    text-decoration:  none;
    text-transform:   capitalize;
    opacity:          0;
    color:            #FFFFEF;
    border:           5px solid #994115;
    border-radius:    5px;
    background:       rgb(171, 71, 18);
    background:       linear-gradient(0deg, rgba(171, 71, 18, 1) 0%, rgba(231, 92, 55, 1) 48%);
    background-color: #E54E17;
}

#pond-ui
{
    position:             fixed;
    z-index:              2;
    /*background: url("/src/assets/images/ui/subaru_uitest_1.png") no-repeat;*/
    top:                  56px;
    left:                 0;
    display:              none;
    width:                220px;
    max-width:            100%;
    height:               200px;
    margin:               1em 1em 1em;

    /*padding: 1em 2em 2em;*/
    border:               30px solid transparent;

    -moz-border-image:    url("/src/assets/images/ui/subaru_uitest_1.png") 30 30 repeat; /* Old firefox */
    -o-border-image:      url("/src/assets/images/ui/subaru_uitest_1.png") 30 30 repeat; /* Opera */
    -webkit-border-image: url("/src/assets/images/ui/subaru_uitest_1.png") 30 30 repeat; /* Safari */
    border-image:         url("/src/assets/images/ui/subaru_uitest_1.png") 30 30 repeat;
    background-color:     transparent;
    background-size:      100% 100%;
}

#pond-ui .inner-ui
{
    position:         relative;
    top:              -1px;
    left:             -1px;
    width:            102%;
    height:           102%;
    background-color: #FFFFEF;
}

.inner-ui
{
    display:        flex;
    flex:           auto;
    flex-direction: column;
}

.button-list
{
    display:        flex;
    flex:           auto;
    flex-direction: row;
    /*box-sizing: border-box*/
}

.inner-ui h3
{
    font-size:     2rem;
    margin-top:    0;
    margin-bottom: 0.5rem;
}

/*#pond-ui*/
/*{*/
/*    -moz-border-image    : url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;*/
/*    -o-border-image      : url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;*/
/*    -webkit-border-image : url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;*/
/*    background-color     : transparent;*/
/*    background-size      : 100% 100%;*/
/*    border               : 30px solid transparent;*/
/*    border-image         : url(/src/assets/images/ui/subaru_uitest_1.png) 30 30 repeat;*/
/*    display              : none;*/
/*    height               : 200px;*/
/*    left                 : 0;*/
/*    margin               : 1em;*/
/*    max-width            : 100%;*/
/*    position             : fixed;*/
/*    top                  : 56px;*/
/*    width                : 220px;*/
/*    z-index              : 2;*/
/*}*/

/*#pond-ui .inner-ui*/
/*{*/
/*    background-color : #FFFFEF;*/
/*    height           : 102%;*/
/*    left             : -1px;*/
/*    position         : relative;*/
/*    top              : -1px;*/
/*    width            : 102%;*/

/*}*/

.navbar
{
    position: fixed;
    z-index:  3;
    top:      0;
    width:    100%;
}

#loadingDuck
{
    position:   fixed;
    z-index:    10000;
    top:        0;
    right:      0;
    left:       0;
    max-width:  20vw;
    height:     100vh;
    margin:     auto;
    object-fit: contain;
}

.load-pond
{
    display: none;
}

.modal-window h1
{
    display: inline-block;
    flex: 0 1 auto;
    padding: 10px 30px;
    background-image:url(../images/background-text.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 40px;
    width: 100%;
    box-sizing: border-box;
	color:#43638a;
	font-family:'kei';
	font-weight:100;
}

.modal-content .fab.fa-youtube{
	color: #FF0000;
    background: transparent;
    border: 0;
    font-size: 50px;
}

.modal-content .fab.fa-twitter{
	color: #00acee;
    background: transparent;
    border: 0;
    font-size: 50px;
}

.modal-window .modal-content
{
    text-align: center;
}

.modal-window .modal-content p
{
    text-align: left;
}

#about-subaru .about-content,#about-project .about-content
{
	display: inline-block;
    flex: 1 1 100%;
    max-width: 50%;
    margin-left: 50%;
    padding: 20px;
    box-sizing: border-box;
}

#about-subaru .about-content p,#about-project .about-content p{
	color:#51b1c4;
	font-weight:600;
}

.load-pond.visible
{
    display: block;
}

.load-pond.selectedPond
{
    background-color: red;
}

img
{
    max-width: 90%;
}

.screen img, h1
{
    text-align: center;
}

#about-project .project-text
{
    max-width: 600px;
    margin:    auto;
}


#screens
{
    display:       block;
    align-content: center;
    align-items:   center;
    height:        100%;
}

.selectLang
{
    max-width:  200px;
    max-height: 200px;
}

.none
{
    background-image: url(../images/intro/idle.png);
}

.lang-container
{
    min-height: initial;
}

.nav-button-container .container
{
    display:         flex;
    align-content:   stretch;
    flex-direction:  column;
    flex-wrap:       wrap;
    justify-content: center;
    height:          100vh;
}

.nav-button-container .btn
{
    font-family:    kei;
    font-size:      21px;
    font-weight:    800;
    position:       relative;
    top:            10px;
    left:           -8px;
    text-transform: capitalize;
    color:          #E54E17 !important;
}

/*.nav-button-container > div > div:nth-child(3) > a*/
/*{*/
/*    font-size:16px;*/
/*}*/

.nav-button-container .container .interior
{
    margin-top:  35px;
    margin-left: -8px;
}

.select label.option input:checked ~ span.title
{
    position:         relative;
    background-color: #FFDA3E;
}

.modal-window > div
{
    z-index:           100000;
    display:           flex;
    overflow:          auto;
    overflow:          hidden;
    align-content:     center;
    flex-direction:    row;
    flex-wrap:         wrap;
    box-sizing:        border-box;
    width:             80vw;
    max-width:         1024px;
    height:            calc(80vw * 0.55);
    max-height:        568px;
    padding:           70px;
    background-color:  transparent;
    background-image:  url(../images/subamodal-min.png);
    background-repeat: no-repeat;
    background-size:   100% 100%;
}

#about-subaru.modal-window > div,#about-project.modal-window > div
{
    background-image:    url(../images/subaru_ShigUi_profilev4fix-min.png),
                         url(../images/subamodal-min.png);
    background-repeat:   no-repeat;
    background-position: 70px center, center;
    background-size:     auto 85%, 100% 100%;
}

#about-project.modal-window > div{
	background-image:url(../images/about.png),
                         url(../images/subamodal-min.png);
	background-size:auto 70%, 100% 100%;
}

#about-project.modal-window h1{
	font-size:35px;
}

.modal-close
{
    top:               70px;
    right:             70px;
    width:             30px;
    height:            30px;
    color:             transparent;
    background-image:  url(../images/exit-modal.png);
    background-repeat: no-repeat;
    background-size:   100% 100%;
}

.modal-close:hover
{
    color: transparent;
}

#ponds-collapse
{
    position:         fixed;
    z-index:          10;
    top:              80px;
    left:             10px;

    padding:          30px;
    cursor:           pointer;
    color:            white;
    background-color: rgba(0, 0, 0, 0.5);
}

#pond-ui
{
    top:     150px;
    display: none;
}

#ponds-volume
{
    position:                fixed;
    z-index:                 10;

    top:                     50px;
    left:                    10px;

    width:                   4vh;
    padding:                 10px;
    cursor:                  pointer;
    opacity:                 0.7;
    background-image:        url(../images/ui/volume.png);
    background-repeat:       no-repeat;

    -moz-background-size:    contain;
    -o-background-size:      contain;
    -webkit-background-size: contain;
    background-size:         contain;

}

#ponds-volume:hover
{
    transition: 0.25s;
    opacity:    1;

}

.oozora-socials img{
	display:none;
}

#about-disclaimer{
	position: absolute;
    top: 60px;
    left: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #51b1c4;
}

@media (max-width: 900px)
{
    .logo-title-container
    {
        left:        0;
        width:       100%;
        margin-left: initial;
    }

    .logo-title
    {
        position:   initial;
        top:        0;
        height:     20vh;
        margin-top: 18vh;
    }

    .logo-front
    {
        position:            absolute;
        z-index:             2;
        top:                 1px;
        top:                 initial;
        bottom:              0;
        width:               100%;
        height:              30vh;
        max-height:          100%;
        margin-top:          5vh;
        background-position: top center;
        background-size:     100% auto;
    }

    .logo-panel
    {
        position:   fixed;
        z-index:    10;
        left:       -100vw;
        display:    block;
        visibility: initial !important;
        width:      100vw;
        max-width:  initial;
        transition: 0.5s;
        opacity:    0;
    }

    .logo-panel.active
    {
        left:    0;
        opacity: 1;
    }

    .logo-text
    {
        position:      initial;
        height:        auto;
        margin-bottom: 2vh;
        transform:     initial;
        text-align:    center;

    }

    #enterPondButton
    {
        font-size:        1.8rem;
        position:         relative;
        z-index:          9;
        top:              initial;
        top:              0vh;
        left:             initial;
        display:          block;
        width:            70%;
        margin:           auto;
        margin:           auto;
        margin-top:       -10vh;
        text-align:       center;
        text-decoration:  none;
        opacity:          0;
        color:            #FFFFEF;
        border-radius:    5px;
        background-color: #E54E17;
        /* zoom: 0.9; */
    }

    .logo-mid
    {
        background-position: center;
    }

    .logo-sky
    {
        position:            absolute;
        z-index:             0;
        visibility:          hidden;
        background-position: 20% top;
        background-size:     auto 100%;
    }

    .logo-mid
    {
        background-position: 71% top;
    }

    .logo-duck
    {
        bottom: 10vh;
        left:   33vw;
    }

    #hamburger
    {
        position:         fixed;
        z-index:          100;
        top:              10px;
        left:             10px;
        padding:          5px;
        padding-top:      10px;
        border-radius:    5px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #hamburger span
    {
        position:         relative;
        z-index:          1;
        display:          block;
        width:            33px;
        height:           4px;
        margin-bottom:    5px;
        transition:       transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                          opacity 0.55s ease;
        transform-origin: 4px 0px;
        border-radius:    3px;
        background:       #CDCDCD;
    }

    .modal-window > div
    {
        width: 90vw;
		height:100vh;
		max-height:initial;
		padding:20px;
    }
	
	.modal-window h1{
		font-size:24px;
		margin-bottom:0;
	}
	.modal-close{
		top:50px;
		right:40px;
	}
	
	#about-subaru.modal-window > div,#about-project.modal-window > div{
		background-image:    url(../images/subaru_ShigUi_profilev4fix-min.png),
                         url(../images/star-bg.jpg),url(../images/modal-mobile.png);
		background-position: center 5vh, 26vw 63vh,center;
		background-size: 35vh auto, 200px,100% 100%;
		padding-top: 40vh;
	}
	
	#about-project.modal-window > div{
		background-image:    url(../images/about.png),
                         url(../images/star-bg.jpg),url(../images/modal-mobile.png);
	}
	
	#about-subaru .about-content,#about-project .about-content{
		max-width:100%;
		margin-left:0;
		padding:25px;
	}
	
	#about-project .about-content{
		padding-top:0;
	}
	
	#about-project .project-text{
		height:42vh;
		overflow:auto;
	}
	
	.oozora-socials{
		text-align:center;
	}
	
	.oozora-socials a{
		position:relative;
		z-index:20;
	}
	
	.oozora-socials img{
		object-fit:contain;
		position:absolute;
		display:block;
	}
	.oozora-socials img:first-child{
		left:0;
		width:50vw;
	}
	
	.oozora-socials img:last-child{
		right:0;
		width:30vw;
		bottom:0;
	}
	

    .modal-window
    {
        background-color: rgba(0, 0, 0, 0.5);
    }
	
	#about-disclaimer{
		top: 40px;
		left: 35px;
	}

    #loadingDuck
    {
        max-width: 50vw;
    }
}
