*
{
    box-sizing: border-box;
}

body
{
    font:              12pt "Noto Sans JP", sans-serif;
    font-weight:       400;
    display:           flex;
    min-width:         100vw;
    min-height:        100vh;
    margin:            0;
    padding:           0;
    opacity:           1;
    color:             rgb(205, 201, 195);
    background-color:  #97CAFD;
    background-image:  url("Sky.png");
    background-repeat: no-repeat;
    background-size:   auto 100%;
}

.logo-title-container
{

    width:      100%;
    max-width:  600px;
    height:     100%;
    margin:     auto;
    padding:    20px;
    text-align: center;
    color:      #000;
}

.logo
{
    width: 100%;
}

.content
{
    width:       100%;
    padding-top: 40vh;
}

.video-container
{
    width: 100%;
}


iframe
{

    width:         100%;
    margin-bottom: 5%;
    border:        20px solid #FFF;
    border-radius: 15px;

}


.submityourown
{
    width: 100%;

}

.submityourown img
{
    width:                             100%;
    -moz-transform-origin:             50% 50%;
    -ms-transform-origin:              50% 50%;
    -o-transform-origin:               50% 50%;
    -webkit-transform-origin:          50% 50%;
    transform-origin:                  50% 50%;
    -moz-animation:                    animationFrames ease 2.5s;
    -ms-animation:                     animationFrames ease 2.5s;
    -o-animation:                      animationFrames ease 2.5s;
    -webkit-animation:                 animationFrames ease 2.5s;
    animation:                         animationFrames ease 2.5s;
    -moz-animation-iteration-count:    infinite;
    -ms-animation-iteration-count:     infinite;
    -o-animation-iteration-count:      infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count:         infinite;
}

a
{
    font-family:     meyro;
    text-decoration: none;
    color:           rgb(255, 255, 255);
}


.boat
{
    position:          absolute;
    z-index:           10;
    bottom:            0;
    left:              0;
    width:             100%;
    height:            100%;
    background-image:  url(boat.png);
    background-repeat: no-repeat;


}


@media (max-width: 900px)
{
    .logo-title-container
    {
        max-width: 100%;
    }
}
